body {
  background-color:#f4e7d3;
  color: #1f4e5f;
}

h1,h3,td {
  font-family: 'Noto Sans KR', sans-serif;
}

table {
  border-collapse: separate;
  border: 1.5px solid #1f4e5f;
  text-align: center;
}

table td {
  width: 120px;
  line-height: 1.5;
}

input[type=button], input[type=text], input[type=number] {
  background-color: rgb(255, 255, 255);
  width: 150px;
  border: 0.5px solid #1f4e5f;
  color: #1f4e5f;
  padding: 8px 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=checkbox] {
  position: absolute;
  opacity: 1;
  cursor: pointer;
}
